:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FFD700;
  text-decoration: inherit;
}
a:hover {
  color: #00ffcc;
}
a:hover span {
  background-color: #00ffcc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #333333;
}


nav ul{
  display: flex;
  gap: 1em;
}

li {
  list-style: none;
}

.cart-widget {
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
}

.cart-widget img {
  height: 40px;
  width: 40px;
}

.cart-widget span {
  position: relative;
  background-color: #FFD700;
  color: #333333;
  border-radius: 50%;
  padding: 0.2em 0.4em;
  font-size: 1em;
  top: -15px;
}

main {
  padding: 0.5em 1em;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  
  
}


button {
  margin: 4px;
  color: #FFD700;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c0c0c0;
  color: #00ffcc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


